<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MathNet.Numerics" version="4.9.0" targetFramework="net472" />
  <package id="MathNet.Numerics.Data.Text" version="4.0.0" targetFramework="net472" />
  <package id="MathNet.Numerics.Signed" version="4.7.0" targetFramework="net472" />
  <package id="MathNet.Spatial" version="0.5.0" targetFramework="net472" />
  <package id="MathNet.Spatial.Signed" version="0.5.0" targetFramework="net472" />
</packages>